*{
    padding: 0;
    margin: 0;

}
body{
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    box-sizing: border-box;
}
nav{
    display: flex;
    justify-content: space-between;
    padding: 30px;
}


.share img{
    width: 50px;
    height: 50px;
    background-color: rgb(20, 19, 19);
    border: 1px solid rgb(233, 228, 228);
    border-radius: 100px;
    object-fit: cover;
    cursor: pointer;
    position: relative;
    /* top: 30px; */
   
}
.profile__img{
    /* display: grid; */
    justify-content: center;
    align-items: center;
    position: relative;
    /* top: 10px; */
    text-align: center;
    cursor: pointer;
}
.profile__img img{
    width: 50px;
    height: 50px;
    background-color: rgb(112, 52, 52);
    border: 1px solid rgb(233, 228, 228);
    border-radius: 100px;
    object-fit: contain;
}

.link_section{

    width: 100%;
    height: 100%;
    position: relative;
    top: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
gap: 10px;
}
 #twitter,#btn__zuri,#books,#book__python,#pitch,#book__design{
    
    width: 60%;
    background-color: rgb(190, 185, 185);
    text-align: center;
    text-decoration: none;
    border-radius: 5px;
    padding: 20px; 
    color: white;
}


